<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="" style="font-weight: 600; font-size: 1.2rem;">
            <i class="bi bi-airplane me-2"></i>TrainMeATC
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door me-2" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="journey">
                <span class="bi bi-compass me-2" aria-hidden="true"></span> Learning Journey
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="scenarios">
                <span class="bi bi-map me-2" aria-hidden="true"></span> Training Scenarios
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="airports">
                <span class="bi bi-building me-2" aria-hidden="true"></span> Airports & Airspace
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="aircraft">
                <span class="bi bi-airplane-engines me-2" aria-hidden="true"></span> Aircraft Profiles
            </NavLink>
        </div>
    </nav>
</div>

